@keyframes apparition {
  0% {
    transform: translateY(5px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes check-rotate {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  50% {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 180deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}
@keyframes loader-animation {
  0% {
    opacity: 1;
    height: 100%;
  }
  70% {
    opacity: 1;
  }
  99% {
    height: 100%;
  }
  100% {
    opacity: 0;
    height: 0;
  }
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "roboto";
}

/* DEBUT LOADER SPINNER */
.loader {
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  background: #f6f6f6;
  animation: loader-animation 2.5s;
  animation-iteration-count: 1;
}
.loader .lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}
.loader .lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: #9356DC;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.loader .lds-heart div:after,
.loader .lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: #9356DC;
}
.loader .lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.loader .lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}

/* FIN LOADER SPINNER */
h1 {
  font-size: 28px;
  font-weight: 100;
  font-family: "Shrikhand";
}

h2 {
  font-size: 26px;
  font-weight: 200;
  margin-top: 40px;
}

h3 {
  font-size: 18px;
}

i {
  font-size: 23px;
}

/* DEBUT HEADER */
header {
  position: relative;
}
header .retour {
  position: absolute;
  left: 35px;
  top: 26px;
}
header .retour a {
  color: #000;
}
header .retour a i {
  font-size: 21px;
}
header .logo-ohmyfoods {
  display: block;
  padding-top: 25px;
  margin: 0px auto 20px auto;
  width: 45%;
}

/* DEBUT HEADER */
/* DEBUT FOOTER */
footer.footer-colonnes {
  padding: 30px 20px 60px 20px;
  background: #353535;
  color: #fff;
}
footer.footer-colonnes .title-ohmyfoods-s {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(182deg) brightness(107%) contrast(101%);
}
footer.footer-colonnes .title-ohmyfoods-s .footer-svg-logo {
  width: 100px;
}
footer.footer-colonnes a {
  color: #fff;
  text-decoration: none;
}
footer.footer-colonnes a span.colonne-icon {
  display: inline-block;
  width: 15px;
  text-align: center;
}
footer.footer-colonnes a span.colonne-icon i {
  font-size: 12px;
}
footer.footer-colonnes a span.colonne-lien {
  font-weight: bold;
}
footer.footer-colonnes .colonnes {
  padding-top: 10px;
}
footer.footer-colonnes .colonnes .colonne {
  padding-top: 15px;
}

/* FIN FOOTER */
/* DEBUT RESPONSIVE TABLETTE */
@media only screen and (min-width: 768px) {
  header .logo-ohmyfoods {
    width: 30%;
  }

  footer.footer-colonnes {
    border-radius: 30px 30px 0 0;
  }

  footer .title-ohmyfoods-s {
    text-align: center;
  }
  footer .colonnes {
    display: flex;
    justify-content: space-around;
  }
}
/* FIN RESPONSIVE TABLETTE */
/* FIN RESPONSIVE DESKTOP */
@media only screen and (min-width: 1200px) {
  footer.footer-colonnes {
    margin-left: -50px;
    margin-right: -50px;
    border-radius: 0;
  }
}
/* FIN RESPONSIVE DESKTOP */
/* DEBUT RECHERCHE */
.recherche-position {
  background: #eaeaea;
  text-align: center;
  position: relative;
  padding: 20px 0 20px 0;
  box-shadow: inset 0px 4px 3px -1px #cfcfcf;
}
.recherche-position .span-icon {
  color: #353535;
  position: absolute;
}
.recherche-position input#name {
  color: #353535;
  background: #eaeaea;
  border: none;
  font-size: 18px;
  padding: 0 0 0 10px;
  text-align: center;
  width: 150px;
  outline-style: none;
  font-family: "Roboto";
}

.recherche-block {
  background: #f6f6f6;
  padding: 50px 45px 60px 45px;
}
.recherche-block h2 {
  text-align: center;
  font-weight: 500;
  margin-top: 0;
}
.recherche-block .recherche-info {
  padding-top: 20px;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 16px;
  text-align: center;
}
.recherche-block .recherches-button {
  margin: 0 auto;
  display: block;
  margin-top: 35px;
  padding: 0px;
  border: none;
  border-radius: 30px;
}
.recherche-block .recherches-button span {
  padding: 20px 20px 20px 20px;
  font-size: 18px;
  display: block;
  background: linear-gradient(#9356DC, #FF79DA);
  outline-style: none;
  border-radius: 30px;
  color: #ffff;
  cursor: pointer;
  box-shadow: 3px 2px 10px #c6c6c6;
}
.recherche-block .recherches-button span:hover {
  filter: brightness(1.1);
  transition: 0.8s;
}

/* FIN RECHERCHE */
/* DEBUT NAV */
.nav {
  margin: 60px 20px 60px 20px;
}
.nav h2 {
  font-weight: 500;
}
.nav .nav-bar {
  margin-top: 35px;
  position: relative;
}

.nav-bar a {
  text-decoration: none;
  display: block;
  padding: 25px 0 25px 0;
  position: relative;
}
.nav-bar a .nav-bar-list-lien {
  text-decoration: none;
  max-width: 260px;
  margin: 0 auto;
}
.nav-bar a .nav-bar-list-lien .nav-bar-list-icon {
  margin-top: 5px;
  color: #7e7e7e;
  display: inline-block;
  width: 28px;
  text-align: center;
}
.nav-bar a .nav-bar-list-lien span.nav-bar-list-title {
  margin-top: 8px;
  color: #000000;
  margin-left: 30px;
  font-size: 18px;
}
.nav-bar a:after {
  font-size: 20px;
  content: attr(data-count);
  background: #9356DC;
  position: absolute;
  width: 30px;
  height: 30px;
  line-height: 30px;
  left: -10px;
  display: block;
  text-align: center;
  z-index: 1;
  color: #fff;
  border-radius: 50%;
  font-weight: bold;
  top: 50%;
  margin-top: -15px;
}
.nav-bar a:hover .nav-bar-list-lien .nav-bar-list-icon {
  color: #9356DC;
}

.nav-bar-list {
  margin-top: 25px;
  font-weight: 400;
  background: #f6f6f6;
  border-radius: 25px;
  box-shadow: 3px 2px 10px #e5e5e5;
}
.nav-bar-list:hover {
  background: #f5edff;
  transition: 0.8s;
}

/* FIN NAV */
/* FIN RESTAURANT */
.les-restaurants {
  background: #f6f6f6;
  padding: 60px 20px 60px 20px;
}
.les-restaurants h2 {
  margin-top: 0;
  font-weight: 500;
}

.restaurants {
  position: relative;
}
.restaurants .restaurants-new {
  position: absolute;
  right: 15px;
  width: 80px;
  background: #99E2D0;
  height: 30px;
  text-align: center;
  line-height: 30px;
  top: 15px;
  border-radius: 3px;
  color: #008766;
}
.restaurants .restaurant-likes {
  cursor: pointer;
  position: absolute;
  bottom: 40px;
  right: 30px;
  font-weight: 100;
  width: 32px;
  height: 32px;
}
.restaurants .restaurant-likes i {
  font-size: 30px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.restaurants .restaurant-likes .fas:before {
  overflow: hidden;
  height: 0;
  display: block;
}
.restaurants .restaurant-likes:hover .far {
  opacity: 0;
  transition: opacity 2s;
}
.restaurants .restaurant-likes:hover .fas {
  background: linear-gradient(#9356DC, #FF79DA);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  transition: 0.15s ease-in-out;
  display: block;
  padding: 1px;
}
.restaurants .restaurant-likes:hover .fas:before {
  height: 32px;
  transition: height 2s;
}

.restaurant {
  flex-direction: column;
  display: flex;
  align-items: stretch;
  margin-top: 25px;
  background: white;
  border-radius: 25px;
  box-shadow: 0px 0px 8px 5px #e9e9e9;
  text-decoration: none;
  min-height: 135px;
}
.restaurant img.restaurant-image {
  width: 100%;
  height: 175px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.restaurant-description {
  margin: 25px 25px 25px 25px;
  color: #000;
}
.restaurant-description .restaurant-name {
  font-weight: bold;
  font-size: 20px;
}
.restaurant-description .restaurant-city {
  font-weight: 300;
  font-size: 18px;
  margin-top: 15px;
}

/* FIN RESTAURANT */
/* DEBUT RESPONSIVE TABLETTE */
@media only screen and (min-width: 768px) {
  body {
    margin-left: 30px;
    margin-right: 30px;
  }

  .recherche-block {
    border-radius: 0px 0px 30px 30px;
  }

  .recherche-position {
    border-radius: 20px 20px 0px 0px;
  }

  nav .nav {
    margin: 60px;
  }

  .les-restaurants {
    padding: 60px;
    margin-bottom: 50px;
    border-radius: 30px;
  }
  .les-restaurants .restaurant {
    margin-top: 40px;
  }
}
/* FIN RESPONSIVE TABLETTE */
/* DEBUT RESPONSIVE  */
@media only screen and (min-width: 1200px) {
  body {
    margin-left: 50px;
    margin-right: 50px;
  }

  .nav {
    margin: 0;
  }
  .nav ul.nav-bar {
    display: flex;
    justify-content: space-evenly;
  }
  .nav ul.nav-bar li.nav-bar-list {
    width: 25%;
  }

  main.container {
    margin: 0;
  }
  main.container h2 {
    text-align: center;
  }

  .les-restaurants {
    background: #fff;
    padding: 50px 0px 0px 0px;
  }
  .les-restaurants .les-restaurant {
    display: flex;
    justify-content: space-between;
    background: #f6f6f6;
    padding: 50px;
    border-radius: 50px;
    margin-top: 50px;
    box-shadow: 3px 2px 10px #e5e5e5;
  }
  .les-restaurants .les-restaurant .restaurants {
    position: relative;
    width: 24%;
  }
  .les-restaurants .les-restaurant .restaurants .restaurants-new {
    top: 43px;
  }
  .les-restaurants .les-restaurant .restaurants .restaurant {
    margin-top: 30px;
  }
}
/* FIN RESPONSIVE TABLETTE */
/* DEBUT IMG FOND */
.img-fonds {
  margin-bottom: -50px;
  width: 100%;
}
.img-fonds .img-fond {
  width: 100%;
  height: 265px;
  object-fit: cover;
}

/* FIN IMG FOND */
/* DEBUT MENU */
main {
  display: flex;
  flex-direction: column;
}

.les-menu {
  padding: 45px 20px 60px 20px;
  background: #f6f6f6;
  border-radius: 50px 50px 0 0;
}
.les-menu .les-menu-title {
  position: relative;
}
.les-menu .les-menu-title .restaurant-likes {
  position: absolute;
  top: 1px;
  right: 0px;
  cursor: pointer;
  display: block;
  text-align: center;
  width: 30px;
}
.les-menu .les-menu-title .restaurant-likes i {
  font-size: 30px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.les-menu .les-menu-title .restaurant-likes .fas:before {
  overflow: hidden;
  height: 0;
  display: block;
}
.les-menu .les-menu-title .restaurant-likes:hover .far {
  opacity: 0;
  transition: opacity 2s;
}
.les-menu .les-menu-title .restaurant-likes:hover .fas {
  background: linear-gradient(#9356DC, #FF79DA);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  transition: 0.15s ease-in-out;
  display: block;
  padding: 1px;
}
.les-menu .les-menu-title .restaurant-likes:hover .fas:before {
  height: 32px;
  transition: height 2s;
}

/* FIN MENU */
/* DEBUT ENTREE */
.les-entrees-title h2 {
  text-transform: uppercase;
  font-size: 1.1em;
}
.les-entrees-title .border-solid {
  border-top: 3px solid #99E2D0;
  width: 64px;
  margin: 10px 0 0 0;
}

.entrees .button-entrees-descriptions {
  margin-top: 15px;
  width: 100%;
  border-radius: 20px;
  border: none;
  justify-content: space-between;
  display: flex;
  text-decoration: none;
  color: #000;
  outline: none;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 3px 2px 10px #e5e5e5;
  box-shadow: 3px 2px 10px #e5e5e5;
  overflow: hidden;
  padding: 0;
  display: flex;
  align-items: stretch;
}
.entrees .button-entrees-descriptions h3 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.entrees .button-entrees-descriptions .entrees-descriptions {
  width: 100%;
  text-align: initial;
  padding: 12px;
  box-sizing: border-box;
}
.entrees .button-entrees-descriptions .entree-descriptions {
  display: flex;
  justify-content: space-between;
}
.entrees .button-entrees-descriptions .entree-descriptions p.entree-description {
  font-size: 13px;
  margin-top: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.entrees .button-entrees-descriptions .entree-descriptions .entree-prix {
  font-size: 15px;
  font-weight: 600;
  margin: 12px 10px 0 0;
}
.entrees .button-entrees-descriptions .entree-check-circle {
  width: 70px;
  margin-right: -70px;
  overflow: hidden;
  background: #99E2D0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.entrees .button-entrees-descriptions:hover .entrees-descriptions {
  width: calc(100% - 70px);
  transition: width 0.4s ease-out;
}
.entrees .button-entrees-descriptions:hover .entree-check-circle {
  margin-right: 0;
  transition: 0.4s ease-out;
}
.entrees .button-entrees-descriptions:hover .entree-check-circle i {
  animation: check-rotate 0.4s normal linear;
  font-size: 27px;
}

/* FIN ENTREE */
/* DEBUT APPARITION PROGRESSIVE ENTREE */
.ApparitionProgressive1 {
  opacity: 0;
  animation: apparition 0.4s ease-in-out 0.1s forwards;
}

.ApparitionProgressive2 {
  opacity: 0;
  animation: apparition 0.4s ease-in-out 0.3s forwards;
}

.ApparitionProgressive3 {
  opacity: 0;
  animation: apparition 0.4s ease-in-out 0.5s forwards;
}

/* FIN APPARITION PROGRESSIVE ENTREE */
/* DEBUT BUTTON COMMANDER */
.commander {
  text-align: center;
  margin-top: 50px;
}
.commander .commander-button {
  border: none;
  background-color: #f6f6f6;
}
.commander .commander-button span {
  padding: 20px 20px 20px 20px;
  font-size: 18px;
  display: block;
  background: linear-gradient(#9356DC, #FF79DA);
  outline-style: none;
  border-radius: 30px;
  color: #ffff;
  cursor: pointer;
  box-shadow: 3px 2px 10px #c6c6c6;
  padding: 20px 50px 20px 50px;
}
.commander .commander-button span:hover {
  filter: brightness(1.1);
  transition: 0.5s;
}

/* FIN BUTTON COMMANDER */
/* DEBUT RESPONSIVE TABLETTE */
@media only screen and (min-width: 768px) {
  main {
    margin-bottom: 50px;
  }
  main .img-fonds .img-fond {
    border-radius: 50px 50px 0px 0px;
  }
  main .les-menu {
    border-radius: 50px;
  }
}
/* DEBUT RESPONSIVE TABLETTE */
/* DEBUT RESPONSIVE DESKTOP */
@media only screen and (min-width: 1200px) {
  main .les-menu .les-menu-title {
    display: flex;
    justify-content: center;
  }
  main .les-menu .les-menu-title span .les-menu-likes {
    display: none;
  }
  main .menu {
    display: flex;
    justify-content: space-around;
  }
  main .menu .entrees .button-entrees-descriptions {
    width: 310px;
  }
}
/* FIN RESPONSIVE DESKTOP */

/*# sourceMappingURL=styles.css.map */
