html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.title-ohmyfoods {
  text-align: center;
  margin: 25px 0 20px 0;
  font-size: 35px;
  font-family: "Shrikhand";
}

body {
  font-family: "roboto";
}

main {
  margin: 0 15px 0 15px;
}

h2 {
  font-size: 26px;
  margin-top: 60px;
}

i {
  font-size: 23px;
}

.recherche-position {
  background: #eaeaea;
  text-align: center;
  padding: 20px 0 20px 0;
  box-shadow: inset 0px 4px 3px -1px #cfcfcf;
}
.recherche-position .span-icon {
  color: #353535;
}
.recherche-position input#name {
  color: #353535;
  background: #eaeaea;
  border: #eaeaea;
  font-size: 18px;
  padding: 0 0 0 10px;
  width: 40%;
  outline-style: none;
  font-family: "Roboto";
}

.recherche-block {
  background: #f6f6f6;
  padding: 50px 45px 60px 45px;
}
.recherche-block h2 {
  text-align: center;
  margin-top: 0;
}
.recherche-block .recherche-info {
  padding-top: 20px;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 16px;
  text-align: center;
}
.recherche-block .recherches-button {
  margin: 0 auto;
  display: block;
  margin-top: 35px;
  padding: 0px;
  border: none;
  border-radius: 30px;
}
.recherche-block .recherches-button span {
  font-family: "roboto";
  padding: 20px 20px 20px 20px;
  font-size: 18px;
  display: block;
  background: linear-gradient(#FF79DA, #9356DC);
  outline-style: none;
  border-radius: 30px;
  color: #ffff;
}

.nav {
  margin: 0px 15px 0px 15px;
}
.nav .nav-bar {
  margin-top: 35px;
  position: relative;
}

.nav-bar a {
  text-decoration: none;
  display: block;
  padding: 25px 0 25px 0;
  position: relative;
}
.nav-bar a .nav-bar-list-lien {
  text-decoration: none;
  max-width: 260px;
  margin: 0 auto;
}
.nav-bar a .nav-bar-list-lien .nav-bar-list-icon {
  margin-top: 5px;
  color: #7e7e7e;
  display: inline-block;
  width: 28px;
  text-align: center;
}
.nav-bar a .nav-bar-list-lien span.nav-bar-list-title {
  margin-top: 8px;
  color: #000000;
  margin-left: 30px;
  font-size: 18px;
}
.nav-bar a:after {
  font-size: 20px;
  content: attr(data-count);
  background: #9356DC;
  position: absolute;
  width: 30px;
  height: 30px;
  line-height: 30px;
  left: -10px;
  display: block;
  text-align: center;
  z-index: 1;
  color: #fff;
  border-radius: 50%;
  font-weight: bold;
  top: 50%;
  margin-top: -15px;
}
.nav-bar a:hover .nav-bar-list-lien .nav-bar-list-icon {
  color: #9356DC;
}

.nav-bar-list {
  margin-top: 25px;
  font-weight: 400;
  background: #f6f6f6;
  border-radius: 25px;
  box-shadow: 3px 2px 10px #e5e5e5;
}
.nav-bar-list:hover {
  background: #f5edff;
}

.restaurants {
  position: relative;
}
.restaurants .restaurants-new {
  position: absolute;
  right: 15px;
  width: 80px;
  background: #99E2D0;
  height: 30px;
  text-align: center;
  line-height: 30px;
  top: 15px;
  border-radius: 3px;
  color: #008766;
}
.restaurants .restaurant-likes {
  cursor: pointer;
  position: absolute;
  bottom: 40px;
  right: 30px;
  font-weight: 100;
}
.restaurants .restaurant-likes i {
  font-size: 30px;
}
.restaurants .restaurant-likes:hover .far {
  font-weight: 900;
}

.restaurant {
  flex-direction: column;
  display: flex;
  align-items: stretch;
  margin-top: 25px;
  background: white;
  border-radius: 25px;
  box-shadow: 0px 0px 20px 0px #e9e9e9;
  text-decoration: none;
  min-height: 135px;
}
.restaurant img.restaurant-image {
  width: 100%;
  height: 175px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.restaurant-description {
  margin: 25px 25px 25px 25px;
  color: #000;
}
.restaurant-description .restaurant-name {
  font-weight: bold;
  font-size: 20px;
}
.restaurant-description .restaurant-city {
  font-weight: 300;
  font-size: 18px;
  margin-top: 15px;
}

/*# sourceMappingURL=styles.css.map */
