
h1 {
    font-size: 35px;
    font-family: 'Shrikhand';
}
body {
    font-family: "roboto";
}
h2 {
    font-size: 26px;
    margin-top: 60px;
}
i {
    font-size: 23px;
}
header {
    position: relative;
    .retour {
        position: absolute;
        left: 35px;
        top: 26px;
        a {
            color: #000;
            i {
                font-size: 21px;
            }
        }      
    }
    .logo-ohmyfoods {
        display: block;
        padding-top: 25px;
        margin: 0px auto 20px auto;
        width: 45%;
    }
}

.img-fond {
    width: 100%;
}
footer.footer-colonnes {
    padding: 30px 20px 40px 20px;
    background: #353535;
    color: #fff;
    .title-ohmyfoods-s {
        font-size: 17px;
        font-family: 'Shrikhand';
    }
    a {
        color: #fff;
        text-decoration: none;
        span.colonne-icon {
            display: inline-block;
            width: 15px;
            text-align: center;
        }
        span.colonne-icon i {
            font-size: 12px;
        }
    }
    .colonnes {
        padding-top: 10px;
        .colonne {
            padding-top: 15px;
        }
    }
}

