body {
    font-family: "roboto";
}
h1 {
    font-size: 28px;
    font-weight: 100;
    font-family: "Shrikhand";
}
h2 {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 40px;
}
h3 {
    font-size: 18px;
}
i {
    font-size: 23px;
}
header {
    position: relative;
    .retour {
        position: absolute;
        left: 35px;
        top: 26px;
        a {
            color: #000;
            i {
                font-size: 21px;
            }
        }      
    }
    .logo-ohmyfoods {
        display: block;
        padding-top: 25px;
        margin: 0px auto 20px auto;
        width: 45%;
    }
}

.img-fond {
    width: 100%;
}

footer.footer-colonnes {
    padding: 30px 20px 40px 20px;
    background: #353535;
    color: #fff;
    .title-ohmyfoods-s {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(182deg) brightness(107%) contrast(101%);
        .footer-svg-logo {
            width: 30%;
        }
    }
    a {
        color: #fff;
        text-decoration: none;
        span.colonne-icon {
            display: inline-block;
            width: 15px;
            text-align: center;
        }
        span.colonne-icon i {
            font-size: 12px;
        }
    }
    .colonnes {
        padding-top: 10px;
        .colonne {
            padding-top: 15px;
        }
    }
}

