@keyframes apparition {
    0%   { 
        transform: translateY(5px);
        opacity:0; 
    }
    100% { 
        transform: translateY(0px);
        opacity:1; 
    }
} 
@keyframes check-rotate {
    0%   { 
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
    50% { 
        -webkit-transform: rotate3d(0, 0, 1, 360deg);
        transform: rotate3d(0, 0, 1, 180deg);
    }
    100% { 
        -webkit-transform: rotate3d(0, 0, 1, 360deg);
        transform: rotate3d(0, 0, 1, 360deg);
    }
} 
