

.img-fonds {
    margin-bottom: -50px;
}
.les-menu {
    padding: 45px 20px 60px 20px;
    background: #f6f6f6;
    overflow: overlay;
    border-radius: 50px 50px 0 0;
    .les-menu-title {
        position: relative;
        .les-menu-likes {
            @include menu-likes;
            i {
                display: block;
                width: 30px;
                font-size: 26px;
                &:hover {
                    @include like-gradient;  
                              
                }
            }
        }
    }
}
.les-entrees-title .border-solid {
    @include border-bottom;
}
.entrees {
    .button-entrees-descriptions {  
        @include button;
        @include box-shadow;  
        overflow: hidden;
        padding: 0;
        display: flex;
        align-items: stretch;
        h3 {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .entrees-descriptions {
            width: 100%;
            text-align: initial;
            padding: 5px 15px;
            box-sizing: border-box;
        }
        .entree-descriptions {
            display: flex;
            justify-content: space-between;
            p.entree-description {
                font-size: 13px;
                margin-top: 15px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .entree-prix {
                font-size: 15px;
                font-weight: 600;
                margin: 12px 10px 0 0;
            }
        }
        .entree-check-circle {
            width: 70px;
            margin-right: -70px;
            overflow: hidden;
            background: $tertiaire;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &:hover {
            .entrees-descriptions {
                width: calc(100% - 70px);
                transition: width 2s;
            }
            .entree-check-circle {
                margin-right: 0;
                transition: 2s;
            }
        }
    }
}
.ApparitionProgressive1 {
    opacity:0;
    animation: apparition .4s ease-in-out .1s forwards  ;
}
.ApparitionProgressive2 {
    opacity:0;
    animation: apparition .4s ease-in-out .3s forwards  ;
}
.ApparitionProgressive3 {
    opacity:0;
    animation: apparition .4s ease-in-out .5s forwards  ;
}
.commander {
    text-align: center;
    margin-top: 50px;
    .commander-button {
        border: none;
        background-color: #f6f6f6;
        span {
            @include button-gradient;
            padding: 20px 50px 20px 50px;
        }
    }
}



