/* DEBUT IMG FOND */
.img-fonds {
    margin-bottom: -50px;
    width: 100%;
    .img-fond {
        width: 100%;
        height: 265px;
        object-fit: cover;
    }
}
/* FIN IMG FOND */









/* DEBUT MENU */
main {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}
.les-menu {
    padding: 45px 20px 60px 20px;
    background: #f6f6f6;
    border-radius: 50px 50px 0 0;
    .les-menu-title { 
        position: relative;
        .restaurant-likes  {
            @include menu-likes;
            i {
                font-size: 30px ;
                position: absolute;
                top: 0;
                left: 0;
                overflow: hidden;
            }
            .fas {
                &:before {
                    overflow: hidden;
                    height: 0;
                    display: block;
                }
            }
            &:hover {
                .far {
                    opacity: 0;
                    transition: opacity 2s;
                }
                .fas {
                    @include like-gradient;
                    transition:  .15s ease-in-out;
                    display: block;
                    padding: 1px;
                    &:before {
                        height: 32px;
                        transition: height 2s;
                    }
                }  
            }
        }
    }
}
/* FIN MENU */









/* DEBUT ENTREE */
.les-entrees-title .border-solid {
    @include border-bottom;
}
.entrees {
    .button-entrees-descriptions {  
        @include button;
        @include box-shadow;  
        overflow: hidden;
        padding: 0;
        display: flex;
        align-items: stretch;
        h3 {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .entrees-descriptions {
            width: 100%;
            text-align: initial;
            padding: 12px;
            box-sizing: border-box;
        }
        .entree-descriptions {
            display: flex;
            justify-content: space-between;
            p.entree-description {
                font-size: 13px;
                margin-top: 12px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .entree-prix {
                font-size: 15px;
                font-weight: 600;
                margin: 12px 10px 0 0;
            }
        }
        .entree-check-circle {
            width: 70px;
            margin-right: -70px;
            overflow: hidden;
            background: $tertiaire;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &:hover {
            .entrees-descriptions {
                width: calc(100% - 70px);
                transition: width .4s ease-out ;
            }
            .entree-check-circle {
                margin-right: 0;
                transition: .4s ease-out ;
                i {
                    animation: check-rotate .4s normal linear ;
                    font-size: 27px;
                }
            }
        }
    }
}
/* FIN ENTREE */









/* DEBUT APPARITION PROGRESSIVE ENTREE */
.ApparitionProgressive1 {
    opacity:0;
    animation: apparition .4s ease-in-out .1s forwards  ;
}
.ApparitionProgressive2 {
    opacity:0;
    animation: apparition .4s ease-in-out .3s forwards  ;
}
.ApparitionProgressive3 {
    opacity:0;
    animation: apparition .4s ease-in-out .5s forwards  ;
}
/* FIN APPARITION PROGRESSIVE ENTREE */









/* DEBUT BUTTON COMMANDER */
.commander {
    text-align: center;
    margin-top: 50px;
    .commander-button {
        border: none;
        background-color: #f6f6f6;
        span {
            @include button-gradient;
            padding: 20px 50px 20px 50px;
            &:hover {
                filter: brightness(1.1);
                transition: .5s;
            } 
        }
    }
}
/* FIN BUTTON COMMANDER */









/* DEBUT RESPONSIVE TABLETTE */
@media #{$tablette} {
    main {
        margin-bottom: 50px;
        .img-fonds .img-fond {
            border-radius: 50px 50px 0px 0px;
        }
        .les-menu {
            border-radius: 50px;
        }
    }
}
/* DEBUT RESPONSIVE TABLETTE */









/* DEBUT RESPONSIVE DESKTOP */
@media #{$desktop} {
    main {

        .les-menu .les-menu-title {
            display: flex;
            justify-content: center;
            span .les-menu-likes  {
                display: none ;
            }
        }
        .menu {
            display: flex;
            justify-content: space-around;
            .entrees .button-entrees-descriptions {
                width: 310px;
            }
        }
    }

}
/* FIN RESPONSIVE DESKTOP */
